
.row{
    margin-left: 20px;
    color: #fff;
    margin-top: 5%;
}

.posters{
    display: flex;
    padding: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
}
.posters::-webkit-scrollbar{
    display: none;
}

.poster{
    cursor: pointer;
    max-height: 150px;
    margin-right: 10px;
}
.smallposter{
    cursor: pointer;
    max-height: 100px;
    margin-right: 10px;
    margin-top: 2%;


}

.poster:hover,
.smallposter:hover{
    transform: scale(1.1);
}





